<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ev3_08_arraydrive/src/ev3_08_arraydrive/Ev3ArrayDrive.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ev3_08_arraydrive.Ev3ArrayDrive"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ev3_08_arraydrive"/>
</launchConfiguration>
