<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/lesson13_1/src/lesson13_1/Lesson13_1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="lesson13_1.Lesson13_1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="lesson13_1"/>
</launchConfiguration>
