<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.ev3.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ev3_10_touch_exercises/src/ev3_10_touch_exercises/Touch_exercises.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ev3_10_touch_exercises.Touch_exercises"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ev3_10_touch_exercises"/>
</launchConfiguration>
